USE [master]
GO
/****** Object:  Database [DemoWeb]    Script Date: 7-6-2018 10:42:20 AM ******/
CREATE DATABASE [DemoWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DemoWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DemoWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoWeb]
GO
USE [DemoWeb]
GO
/****** Object:  Table [dbo].[Airplane]    Script Date: 7-6-2018 10:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Airplane](
	[AirplaneID] [varchar](10) NOT NULL,
	[Model] [varchar](50) NULL,
	[CruiseSpeed] [float] NULL,
	[AirportID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[AirplaneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airport]    Script Date: 7-6-2018 10:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airport](
	[AirportID] [varchar](10) NOT NULL,
	[AirportName] [varchar](50) NOT NULL,
	[RunwaySize] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AirportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DemoWeb]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DemoWeb](
	[AirportID] [varchar](10) NOT NULL,
	[AirportName] [varchar](50) NOT NULL,
	[RunwaySize] [numeric](5, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AirportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblDepartment]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDepartment](
	[Dept_ID] [int] IDENTITY(1,1) NOT NULL,
	[Dept_Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Dept_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblEmployee]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEmployee](
	[Emp_ID] [int] IDENTITY(1,1) NOT NULL,
	[Emp_Name] [varchar](50) NULL,
	[Gender] [bit] NULL,
	[Date_Of_Birth] [date] NULL,
	[Dept_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Emp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblUser]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Airplane]  WITH CHECK ADD FOREIGN KEY([AirportID])
REFERENCES [dbo].[Airport] ([AirportID])
GO
ALTER TABLE [dbo].[TblEmployee]  WITH CHECK ADD FOREIGN KEY([Dept_ID])
REFERENCES [dbo].[TblDepartment] ([Dept_ID])
GO
/****** Object:  StoredProcedure [dbo].[usp_addAirplane]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_addAirplane]
@airplaneId VARCHAR(10),
@model VARCHAR(50),
@cruiseSpeed FLOAT,
@airportId VARCHAR(10)
AS
BEGIn
	INSERT INTO Airplane VALUES (@airplaneId, @model, @cruiseSpeed, @airportId)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_addAirplanes]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_addAirplanes]
@airplaneId VARCHAR(10),
@model VARCHAR(50),
@cruiseSpeed FLOAT,
@airportId VARCHAR(10)
AS
BEGIN
	INSERT INTO Airplane VALUES (@airplaneId, @model, @cruiseSpeed, @airportId)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_addAirports]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_addAirports]
@airportID VARCHAR(10),
@airportName VARCHAR(50),
@runwaySize FLOAT
AS
BEGIN
	INSERT INTO Airport VALUES(@airportID, @airportName, @runwaySize)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_addEmployee]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_addEmployee]
@empName VARCHAR(50),
@gender BIT,
@dateOfBirth DATE,
@deptID INT
AS
BEGIN
	INSERT INTO TblEmployee VALUES (@empName, @gender, @dateOfBirth, @deptID)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_deleteAirport]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_deleteAirport]
@airportId VARCHAR(10)
AS
BEGIN
	DELETE FROM Airplane WHERE AirportID = @airportId
	DELETE FROM Airport WHERE AirportID = @airportId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_findAirplaneByAirportId]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_findAirplaneByAirportId]
@airportId VARCHAR(10)
AS
BEGIN
	SELECT * FROM Airplane WHERE AirportID = @airportId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_findAirportById]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_findAirportById]
@airportId VARCHAR(10)
AS
BEGIN
	SELECT * FROM Airport WHERE AirportID = @airportId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_findAllAirport]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_findAllAirport]
AS
BEGIN
	SELECT * FROM Airport
END
GO
/****** Object:  StoredProcedure [dbo].[usp_findAllDepartment]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_findAllDepartment]
AS
BEGIN
	SELECT * FROM TblDepartment
END
GO
/****** Object:  StoredProcedure [dbo].[usp_findAllEmployee]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_findAllEmployee]
AS
BEGIN
	SELECT * FROM TblEmployee
END
GO
/****** Object:  StoredProcedure [dbo].[usp_findUserByEmail]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_findUserByEmail]
@email VARCHAR(100)
AS
BEGIN
	SELECT * FROM TblUser WHERE Email = @email
END
GO
/****** Object:  StoredProcedure [dbo].[usp_findUserByUserName]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_findUserByUserName]
@userName VARCHAR(50)
AS
BEGIN
	SELECT * FROM TblUser WHERE UserName = @userName
END
GO
/****** Object:  StoredProcedure [dbo].[usp_getUserByUserName]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_getUserByUserName]
@userName VARCHAR(50)
AS
BEGIN
	SELECT * FROM TblUser WHERE UserName = @userName
END
GO
/****** Object:  StoredProcedure [dbo].[usp_login]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_login]
@userName VARCHAR(50),
@password VARCHAR(50),
@numberRecord INT OUTPUT
AS
BEGIN
	SELECT @numberRecord = COUNT(*) FROM TblUser WHERE UserName = @userName AND Password = @password
END
GO
/****** Object:  StoredProcedure [dbo].[usp_registerUser]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_registerUser]
@firstName VARCHAR(50),
@lastName VARCHAR(50),
@email VARCHAR(100),
@userName VARCHAR(50),
@password VARCHAR(50)
AS
BEGIN
	INSERT INTO TblUser VALUES (@firstName, @lastName, @email, @userName, @password)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_updateAirport]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_updateAirport]
@airportId VARCHAR(10),
@airportName VARCHAR(50),
@runwaySize FLOAT
AS
BEGIN
	UPDATE Airport SET AirportName = @airportName, RunwaySize = @runwaySize WHERE AirportID = @airportId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_updateUserProfile]    Script Date: 7-6-2018 10:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_updateUserProfile]
@firstName VARCHAR(50),
@lastName VARCHAR(50),
@email VARCHAR(100),
@userName VARCHAR(50)
AS
BEGIN
	UPDATE TblUser SET FirstName = @firstName, LastName = @lastName, Email = @email WHERE UserName = @userName
END
GO
USE [master]
GO

